*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: logo;
    src: url(../fonts/Lobster-Regular.ttf);
}
@font-face {
    font-family: smalltxt;
    src: url(../fonts/DMSans-Regular.ttf);
}
@font-face {
    font-family: largetxt;
    src: url(../fonts/DMSans-Medium.ttf);
}
@font-face {
    font-family: bold;
    src: url(../fonts/DMSans-Bold.ttf);
}


.section-1{
    color: #fff;
    width: 100%;
    height: 750px;
    background: url("../images/rsz_modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background.jpg");
    background-size: cover;
    background-position: bottom;
}
.logo{
    font-family: logo;
    font-size: 35px;
    color: #fff !important;
}
ul.nav_link li{
    list-style: none;
    margin: 0 25px;
}
ul.nav_link li a{
    color: #fff !important;
    text-decoration: none;
}
ul.nav_link li a, .small-text{
    font-family: smalltxt;
    font-size: 16px;
}
.more i{
    font-size: 25px;
}
.profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.main-page h1{
    font-family: largetxt;
    font-size: 60px;
    padding: 0 !important;
    margin: 0 !important;
}
.main-page p{
    font-size: 20px;
}
.main-page form{
    border: 1px solid rgba(255, 255, 255, 0.493);
    border-radius: 30px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.308);
}
.main-page form input{
    color: #fff;
    background: none;
    border: none;
}
.main-page form input::placeholder{
    color: rgba(255, 255, 255, 0.61);
    font-family: smalltxt !important;
    font-size: 16px;
}
.main-page form input:focus{
    outline: none !important;
}

.main-page form button{
    color: #313d4d !important;
    font-weight: bold;
    background: #a3ccc8;
    border: 0;
    border-radius: 50%;
    font-size: 20px;
}




.section-2{
    color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: largetxt;
    background-color: #131925;
}
.section-2 .text-box{
    width: 290px;
}
.section-2 .text-box p{
    margin-top: 20px;
    color: #ffffffe1 !important;
}
.section-2 .text-box button{
    background: none;
    border: none;
    color: #ffffffe1 !important;
}


.section-3{
    background-color: #ced1da;
}
.section-3 h2{
    font-family: largetxt;
    font-weight: 900;
    color: #131925 !important;
}
.section-3-nav{
    border-radius: 25px;
    width: fit-content;
    background-color: #ffffff7e;
}
.section-3-nav button{
    font-size: 16px !important;
    font-family: largetxt;
    background: none;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    color: #131925 !important;
}
.section-3-nav button.active{
    background-color: #fff;
}
.items{
    margin-top: 140px;
    position: relative;
}
.items .item-btn-left,
.items .item-btn-right{
    position: absolute;
    top: 30%;
    z-index: 1;
    font-size: 25px;
    color: #131925;
    background: #fff;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 56px -16px #131925;
}
.items .item-btn-left{
    left: -25px;
}
.items .item-btn-right{
    right: -25px;
}
.item{
    position: relative;
    border-radius: 25px;
    width: 250px;
    height: 350px;
    background-color: #fff;
}
.item img{
    position: absolute;
    top: -100px;
    left: 10%;
}
.item h5{
    font-family: largetxt;
    margin: 0 !important;
    padding: 0 !important;
}
.item span, .item h5{
    font-weight: 900;
    color: #131925 !important;
}
.rating i{
    color: #f8d138 !important;
}
.add-btn{
    background: none;
    border: none;
}
.add-btn i{
    font-size: 45px;
    color: #131925 !important;
}

.view-all{
    background: none;
    border: none;
    color: #131925;
    font-family: bold;
    font-size: 18px;
}
.view-all i{
    font-size: 20px;
}